@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply bg-black-200 overflow-x-hidden
  }
}


.one {
  width: 124px;
}

.one:after {
  content: "";
  height: 2px;
  background: linear-gradient(to right,
      rgba(255, 215, 0, 0) 0%,
      rgba(255, 165, 0, 1) 50%,
      rgba(255, 215, 0, 0) 100%);
  display: block;
}

.one::before {
  content: "";
  @apply absolute left-1/2 top-1/2 size-1.5 -translate-y-1/2 rotate-45 border-[0.0125rem] border-active-menu bg-white shadow-custom;
}

.secondary-hover {
  @apply transition duration-200 ease-in-out hover:shadow-custom
}
.hover-custom {
  @apply border border-transparent transition duration-200 ease-in-out hover:bg-brand-black-200 hover:border-active-menu hover:shadow-custom
}

.links-hover {
  @apply transition duration-200 ease-in-out hover:border-white
}

.register-btn::after,
.register-btn::before {
  content: "";
  @apply relative z-10 size-1.5 rotate-45 bg-active-menu;
}


.versions:after {
  content: "";
  height: 2px;
  background: linear-gradient(to right,
      rgba(255, 215, 0, 0) 0%,
      rgba(255, 165, 0, 1) 50%,
      rgba(255, 215, 0, 0) 100%);
  display: block;
}

.versions::before {
  content: "";
  @apply absolute left-1/2 top-1/2 size-1.5 -translate-y-1/2 rotate-45 border-[0.0125rem] border-active-menu bg-white shadow-custom;
}

.box-hero {
  --mask: radial-gradient(18px at 18px 18px, #0000 98%, #000) -18px -18px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}


.custom-card::after {
  content: '';
  @apply absolute z-0 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-[calc(100%-14px)] h-[calc(100%-14px)] border border-active-menu
}





/* Play Video Btn */

.videoPlay-btn::after,
.videoPlay-btn::before {
  content: '';
  @apply absolute top-1/2 size-1.5 -translate-y-1/2 rotate-45 border-[0.0125rem] border-active-menu bg-white shadow-custom;
}

.videoPlay-btn::after {
  content: '';
  @apply absolute left-0 -translate-x-1/2;
}

.videoPlay-btn::before {
  content: '';
  @apply absolute right-0 translate-x-1/2;
}