@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply bg-[#E6EBF0] overflow-x-hidden
  }
}

.one {
  width: 124px;
}

.one:after {
  content: "";
  height: 2px;
  background: linear-gradient(to right,
      rgba(255, 215, 0, 0) 0%,
      rgba(255, 165, 0, 1) 50%,
      rgba(255, 215, 0, 0) 100%);
  display: block;
}

.one::before {
  content: "";
  @apply absolute left-1/2 top-1/2 size-1.5 -translate-y-1/2 rotate-45 border-[0.0125rem] border-active-menu bg-white shadow-custom;
}

.secondary-hover {
  @apply transition duration-200 ease-in-out hover:shadow-custom
}

.hover-custom {
  @apply border border-transparent transition duration-200 ease-in-out hover:bg-brand-black-200 hover:border-active-menu hover:shadow-custom
}

.links-hover {
  @apply transition duration-200 ease-in-out hover:border-white
}

.register-btn::after,
.register-btn::before {
  content: "";
  @apply relative z-10 size-1.5 rotate-45 bg-active-menu;
}



.versions {
  @apply relative w-32 md:w-36 lg:w-56 xl:w-[21.875rem];
}

.versions:after {
  content: "";
  background: linear-gradient(to right,
      rgba(255, 215, 0, 0) 0%,
      rgba(255, 165, 0, 1) 50%,
      rgba(255, 215, 0, 0) 100%);
  display: block;
  @apply h-[0.0625rem] lg:h-0.5;
}

.versions::before {
  content: "";
  @apply absolute left-1/2 top-1/2 size-1 lg:size-1.5 -translate-y-1/2 rotate-45 border-[0.0125rem] border-active-menu bg-white shadow-custom;
}

.box-hero {
  --mask: radial-gradient(18px at 18px 18px, #0000 98%, #000) -18px -18px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}


.custom-card::after {
  content: '';
  @apply hidden xl:block absolute z-0 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-[calc(100%-14px)] h-[calc(100%-14px)] border border-active-menu
}

.custom-card {
  --mask: radial-gradient(20px at 20px 20px,
      #0000 calc(98% - 1px),
      #000 calc(100% - 1px) 98%,
      #0000) -20px -20px,
    linear-gradient(90deg, #000 2px, transparent 0) -1px 50% /100% calc(100% - 40px + 1px) repeat-x,
    linear-gradient(#000 2px, #0000 0) 50% -1px / calc(100% - 40px + 1px) 100% repeat-y;
}


.custom-card:before {
  content: "";
  background: #fbe28a;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  @apply w-[calc(100%-10px)] h-[calc(100%-10px)] block xl:hidden absolute z-30 inset-0 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
}

/* Play Video Btn */
.videoPlay-btn::after,
.videoPlay-btn::before {
  content: '';
  @apply absolute top-1/2 size-[0.1875rem] xl:size-1 -translate-y-1/2 rotate-45 border-[0.0125rem] border-active-menu bg-white shadow-custom;
}

.videoPlay-btn::after {
  content: '';
  @apply absolute left-0 -translate-x-1/2;
}

.videoPlay-btn::before {
  content: '';
  @apply absolute right-0 translate-x-1/2;
}


/* Product */
.product-card::after {
  content: '';
  @apply absolute z-0 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-[calc(100%-10px)] h-[calc(100%-10px)] border border-active-menu
}

.product-card__box {
  --mask: radial-gradient(18px at 18px 18px, #0000 98%, #000) -18px -18px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}


.border-glow::after,
.border-glow::before {
  content: '';
  @apply absolute top-1/2 size-1 -translate-y-1/2 rotate-45 border-[0.0125rem] border-active-menu bg-white shadow-custom;
}
.border-glow::after {
  content: '';
  @apply left-0 -translate-x-1/2
}
.border-glow::before {
  content: '';
  @apply right-0 translate-x-1/2
}


.product-cost::after,
.product-cost::before {
  content: '';
  @apply absolute top-1/2 size-1 -translate-y-1/2 rotate-45 border-[0.0125rem] border-active-menu bg-white shadow-custom;
}

.product-cost::after {
  content: '';
  @apply absolute left-0 -translate-x-1/2;
}

.product-cost::before {
  content: '';
  @apply absolute right-0 translate-x-1/2;
}

.shadow-custom__range {
  box-shadow: 0px 0px 5.4px 0px #00C8FF;
}

/* About The Game */
.about-box {
  --mask: radial-gradient(25px at 25px 25px, #0000 98%, #000) -25px -25px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.about-box__border {
  --mask:
    radial-gradient(25px at 25px 25px, #0000 calc(98% - 1px), #000 calc(100% - 1px) 98%, #0000) -25px -25px,
    linear-gradient(90deg, #000 2px, #0000 0) -1px 50% /100% calc(100% - 50px + 1px) repeat-x,
    linear-gradient(#000 2px, #0000 0) 50% -1px/calc(100% - 50px + 1px) 100% repeat-y;

}

.about-box__border::before {
  content: "";
  background: #fbe28a;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  @apply w-[calc(100%-24px)] h-[calc(100%-24px)] absolute !z-10 inset-0 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
}

.shadow-custom__drop {
  box-shadow: 0px 0px 30.6px 0px #FBE28A;
}

.shadow-custom__drop::before {
  content: '';
  @apply absolute
}


/* Slider */
.Slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.Slider-wrapper {
  position: relative;
  height: 100%;
}

.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #333;
  font-size: 24px;
  z-index: 0;
}

.slide-content.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

/* Pagination */

.pagination .dot {
  transition: background-color 0.3s;
  @apply cursor-pointer rotate-45 size-4 border border-white bg-transparent
}

.pagination .dot.active {
  background-color: #007bff;
  @apply bg-white shadow-custom cursor-default
}

/* Mobile Pagination */
.pagination-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-mobile .mobile-text {
  @apply font-display text-[2rem]/[2.8rem] text-white
}

.tap-btn::after,
.tap-btn::before {
  content: "";
  box-shadow: 0px 0px 4.1px 2px #fbe28a;
  @apply relative z-10 size-1.5 rotate-45 bg-active-menu;
}


/* image-video__product */
.image-video__card::after {
  content: '';
  @apply absolute z-0 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-[calc(100%-10px)] h-[calc(100%-10px)] border border-active-menu
}

.image-video__product {
  --mask: radial-gradient(16px at 16px 16px,#0000 98%,#000) -16px -16px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.image-video__card {
  @apply transition duration-200 hover:shadow-custom
}



.text-shadow {
  text-shadow: 0px 4px 4px #2E659D;
}